<p>employee-list works!</p>
<h2>Employee List</h2>
<table class="table table-striped">
<thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email Id</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let employee of employees">
       <td>{{employee.firstName}}</td>
       <td>{{employee.lastName}}</td>
       <td>{{employee.emailId}}</td></tr>
</tbody>
</table>