/* You can add global styles to this file, and also import other style files */
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7u0px;
    background-color: blue;
    text-align: center;
    color: white;
}